.modal{
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #555;
    margin: auto;
}
.modal-h1{
    color: white;
    height: 100px;
}
.modal-button{
    background-color: #555;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 6px;
    border-radius: 20px;
    color: aliceblue;

}
.modal-button:hover{
    background: rgba(19, 19, 226, 0.534);
    color: white;
    text-shadow: 0px 0px 10px white;
    box-shadow: 0px 0px 10px white;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: black;
    width: 15%; /* Ocupa todo el ancho del modal */
    height: 30%;
    position: absolute;
    top: 40%;
    left: 43%;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0px 8px 15px 5px white;
}
@media (max-width: 767px) {
    .modal {
        width: 100vw;
        height: 100vh;
    }

    .modal-content {
        width: 80%; /* Aumenta el ancho para mejor legibilidad en móviles */
        height: 40%; /* Ajusta la altura para móviles */
        top: 30%; /* Centra mejor el contenido */
        left: 10%; /* Centra mejor el contenido */
    }

    .modal-h1 {
        font-size: 24px; /* Aumenta el tamaño de la fuente para mejor legibilidad */
    }

    .modal-button {
        font-size: 14px; /* Ajusta el tamaño de la fuente para móviles */
        padding: 8px; /* Aumenta el padding para mejor usabilidad */
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .modal {
        width: 100vw;
        height: 100vh;
    }

    .modal-content {
        width: 50%; /* Ajusta el ancho para tablets */
        height: 35%; /* Ajusta la altura para tablets */
        top: 35%; /* Centra mejor el contenido */
        left: 25%; /* Centra mejor el contenido */
    }

    .modal-h1 {
        font-size: 28px; /* Aumenta el tamaño de la fuente para tablets */
    }

    .modal-button {
        font-size: 16px; /* Mantén el tamaño de la fuente para tablets */
        padding: 10px; /* Aumenta el padding para mejor usabilidad */
    }
}
